# .dockerignore

# Exclude everything
**

# Include specific directories and files for embedding_service
!embedding_service/
!rag_service/
!shared_libs/
!cdk-infra/
!*.py
!*.txt
!*.yaml
!*.env
!Dockerfile.*
