# Exclude version control directories
.git
.gitignore

# Exclude Python cache
__pycache__/
*.pyc


# Exclude unnecessary files
tests/
docs/

# Include necessary directories
!rag_service/
!shared_libs/
!embedding_service/
!rag_service/entrypoint.sh 