aiofiles
boto3
botocore
fastapi
fastembed
groq
google-generativeai
httpx
jsonschema
langchain_community
langchain_text_splitters
lxml
numpy
openai
pandas
protobuf
pydantic
pytest
python-dotenv
PyYAML
qdrant_client
Requests

