aiofiles
boto3
botocore
fastapi
fastembed
groq
google-generativeai
jsonschema
langchain_community
langchain_community
langchain_text_splitters
langdetect
lxml
mangum
numpy
openai
pandas
protobuf
pydantic
pytest
python-dotenv
PyYAML
qdrant_client
Requests
tqdm
uvicorn
watchtower