
boto3
botocore
docxcompose
fastapi
fastembed
fuzzywuzzy
groq
jsonschema
langchain_community
langchain_community
langchain_text_splitters
langdetect
lxml
mangum
numpy
openai
pandas
protobuf
pydantic
PyPDF2
pytest
python-dotenv
python_docx
PyYAML
qdrant_client
Requests
scikit_learn
tqdm
underthesea
uvicorn
